body {

    height: 100vh;
    display: flex;
    justify-content: center;


}

#container {
    box-sizing: border-box;
    display: flex;
    margin: auto;
    background-color: #F2F2F2;
    width: 1440px;
    height: 500px;

    flex-direction: row;
    padding: 50px 350px 50px 350px;
    font-size: 15px;
    font-family: Lexend Deca;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);



}

.information-box {

    flex-grow: 1;

}

#box_1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    justify-content: space-around;
    

}

#box_2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(184, 100%, 22%);
    padding: 10px;
    
    justify-content: space-around;
   
}

#box_3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
   
    justify-content: space-around;
   

}



.buttons {


    height: 40px;
    width: 120px;
    background-color: hsl(0, 0%, 95%);
    border: #F2F2F2 solid 1px;
    border-radius: 20px;
}

#bt_1 {
    color:  hsl(31, 77%, 52%);;
   
}
#bt_1:active {
    background-color: hsl(31, 77%, 52%);
    color: #F2F2F2;
   
}

#bt_2 {
    color: hsl(184, 100%, 22%);
}
#bt_2:active {
    color: #F2F2F2;
    background-color: hsl(184, 100%, 22%);
}

#bt_3{

    color: hsl(179, 100%, 13%);
}
#bt_3:active{

    color: #F2F2F2;
    background-color: hsl(179, 100%, 13%);
}

@media (max-width: 375px)
{
    body
    {
        max-height: 100vh;
        margin-top: 0px;
     

    }

    #container{
        flex-direction: column;
    }
     
}